
{% include  "AdetiBlogBundle:Blog:header.html.twig" %}
{{ validation.form | raw }}


{% set foot= '' %}
{% set head= '' %}
{% if articles|length > 0 %}

        {% for article in articles %}
      
                  {% if article.titre!= 'FOOT' %}
                        {% if article.titre!= 'HEAD' %}
      
        <div class="contenu"  id="{{ article.titre }}">        
            {{ article.articles_postd | raw }}


            {% if article.commentable== 1 %}
                            <hr/>  {{ article.datepost|e }} par {{ article.userpostr|e }}
                {% if comments|length > 0 %}  
                  
                          {% for comment in comments %}
                          {% if comment.id_article == article.id %}
                             <hr/>   {{ comment.msgpostd  | raw}}   
                                 {% endif %} {% endfor %}    {% endif %}   
                                 
                    <hr/><a href="contact.php?add={{ article.id }}" >commentez ce truc!</a>     {% endif %}         
            </div>
            {% endif %}       {% else %} 
            {% set foot = article.articles_postd %}    {% endif %}    {% else %}      {% set head = article.articles_postd %}  
        {% endfor %}

{% endif %}




{% include  "AdetiBlogBundle:Blog:contactform.html.twig" %}



  {% if comments|length > 0 %}  
{% include  "AdetiBlogBundle:Blog:indexdiscussion.html.twig" %}
{% endif %}



<div class="block" id="foot" > 
{{ foot|raw }}
</div>

<script type="text/javascript" src="/lug/sf2/src/Adeti/BlogBundle/Resources/public/js/js.js"></script>
</body>
</html>

