{% set a_navigation_bar = [['blog_index', 'accueil'],  ['blog_article_liretout','Articles'], 	['blog_article_publier', 'Publiez'],	['blog_article_commenterquoi','commentez'], ] %}

{% set d_navigation_bar = [['blog_index', 'accueil'], 
	['blog_discuter_discussion', 'Discussions'], 
	['blog_discuter_parler', 'ecrire'], 
	['blog_discuter_repondre_a_quoi', 'Repondre'],
	['blog_dsicuter_commenterquoi', 'commentez']] %}






{% set active_page = active_page|default('blog_index') %}
{% block menu %}<div id="menu" > <ul id="menu1">

<a href="{{ path('blog_index') }}">index</a></li>

{% for item in a_navigation_bar %}
<li{% if item[0] == active_page %} class="active"{% endif%}>
<a href="{{ path(item[0]) }}">{{item[1]}}</a></li>
{% endfor %}

</ul>




<a href="{{ path('blog_index') }}">accueil</a>
<a href="{{ path('blog_article_lire',{ 'article': 1234 }) }}">Lien article</a>
<a href="{{ path('blog_article_liretout') }}">articles</a>
<a href="{{ path('blog_article_publier') }}">bloguez!</a>
<a href="{{ path('blog_article_commenter',{ 'article_a_commenter': 1234 }) }}">commentez1</a>
<a href="{{ path('blog_article_commenterquoi') }}">commentezquoi?</a>
<hr />

<a href="http://localhost/lug/index.php/blog/discussion">discussion</a>
<a href="http://localhost/lug/index.php/blog/discuter/parler">discuter</a>
<a href="http://localhost/lug/index.php/blog/discuter/repondre/1">repondre1</a>
<a href="http://localhost/lug/index.php/blog/discuter/repondre">repondreQuoi?</a>
<hr />

contact:
<a href="http://localhost/lug/index.php/blog/contacter/mailing-list">ml</a>
<a href="http://localhost/lug/index.php/blog/contacter/ca-bureau">ca/bureau</a>
<a href="http://localhost/lug/index.php/blog/contacter/animateurs">animateurs?</a>
<hr />
test sf:
<a href="{{ path('blog_login_connexion') }}">login</a>
<a href="{{ path('blog_login_admin') }}">admin</a>
<a href="http://localhost/lug/index.php/blog/formtest">form</a>
<a href="{{ path('blog_login_deconnexion') }}">logout</a>
<img alt="logo adeti" src="/lug/sf2/src/Adeti/BlogBundle/Resources/public/images/adeti.png"/> 
</div> 
{% endblock %}
