<div id="contact" class="contenu">
    {% if form.ctform is defined %}{% if form.ctform.error is defined %}{{
    form.ctform['error'] }}{{ form.ctform['success'] }}{% endif %}{% endif %}
{% if form is defined %}
 {% if    form.stateform == '-1' %}
    <div class="error">
        Les erreurs sont indiquées en jaunetmpl.
    </div>
    <br />
    {% elseif form.stateform == 'ok' %}
    <div class="success">
        Bien envoyétmpl !
    </div>
    <br />
    {% else %}
{{form.stateform}}
    <div class="success">
        rienmpl !{{  form.stateform }}
    </div>
    <br />
{% endif %}
{% endif %}


    <form id="Inscription" method="post" action="{{ 'index.php' }}">
        <p>
            Utilisez ce formulaire pour commenter cet article.
            <br />
            <input type="hidden" name="do" value="contact" />
<input type="hidden" name="type" value="commentairesurarticle" />
            <br />
            <label id='ct_name'>Votre nom ou pseudo*:</label>
            <br />
            <input type='text' name='ct_name' size='20' value=
            "{% if form.validation_retour.ctform['ct_name'] is defined %}{{ form.validation_retour.ctform['ct_name'] }}{% endif %}" />
             {% if form.validation_retour.ctform['name_error'] is defined %}{{ form.validation_retour.ctform['name_error']| raw }}
            {% endif %}
            <br />
            <label id='ct_email'>Votre email*:</label> {% if form.validation_retour.ctform['email_error'] is defined
            %}{{ form.validation_retour.ctform['email_error']| raw }}{% endif %}
            <br />
            <input type='text' name='ct_email' size='20' value=
            "{% if form.validation_retour.ctform['ct_email'] is defined %}{{ form.validation_retour.ctform['ct_email']|raw }}{% endif %}" />

            <br />
            <label id="ct_message">Message*:</label> {% if form.validation_retour.ctform['message_error'] is defined
            %}{{ form.validation_retour.ctform['message_error']| raw }}{% endif %}
            <br />
            <textarea name="ct_message" rows="8" cols="40">
{% if form.validation_retour.ctform['ct_message'] is defined %}{{ form.validation_retour.ctform['ct_message']  }}{% endif %}
</textarea>
            <br />
            {{ form.captcha| raw}}{% if form.validation_retour.ctform['captcha_error'] is defined %}{{ form.validation_retour.ctform['captcha_error']| raw }}{% endif %}
        </p>
    </form>
</div>
