{% for comment in comments %}

{% if comment.id_article == 0 %}
 {% if comment.reponseto == comment.index_comments %} 


<p class="topic">

{{ comment.msgpostd | raw }}
<a href="discuter/repondre/{{ comment.reponseto }}" >
<img class='logo_commenter' alt="commenter ce sujet" src="/lug/sf2/src/Adeti/BlogBundle/Resources/public/icons/comments.jpg"/></a>
<img class='logo_info' title="{{ comment.userpostr }}{{ comment.datepost }}" alt="{{ comment.userpostr }}{{ comment.datepost }}" src="/lug/sf2/src/Adeti/BlogBundle/Resources/public/icons/info.gif"/> 
<hr/>
 </p>




{% for commentb in comments %}
{% if commentb.index_comments  != commentb.reponseto %}
{% if commentb.reponseto == comment.index_comments %}
	{% if commentb.id_article == 0 %}
<p class="message">{{ commentb.msgpostd | raw }}
<a href="discuter/repondre/{{ commentb.index_comments }}" >
<img class='logo_commenter' alt="repondre a ce commentaire" src="/lug/sf2/src/Adeti/BlogBundle/Resources/public/icons/comments.jpg"/> </a> <img class='logo_info' title="{{ comment.userpostr }}{{ comment.datepost }}" alt="{{ comment.userpostr }}{{ comment.datepost }}" src="/lug/sf2/src/Adeti/BlogBundle/Resources/public/icons/info.gif"/> 
</p>
     {% endif %}      {% endif %} 
      {% endif %} 
{% endfor %}
<hr/>

     {% endif %} 

{% endif %}

 {% endfor %} 

