{% include  "AdetiBlogBundle:Blog:header.html.twig" %}
<div class="contenu" id="discussion" > 


{% for comment in comments %}
	{% if comment.id_article == 0 %}
 {% if comment.reponseto == comment.index_comments %}
<p class="topic">    {{ comment.msgpostd | raw }}
<a href="discuter/repondre/{{ comment.reponseto }}" >rep a ce  topic</a> 
<img class='logo_info' title="{{ comment.userpostr }}{{ comment.datepost }}" alt="{{ comment.userpostr }}{{ comment.datepost }}" src="/lug/sf2/src/Adeti/BlogBundle/Resources/public/icons/info.gif"/> <hr />Reponses:<br/>
</p>


{% for commentb in comments %}
{% if commentb.index_comments  != commentb.reponseto %}
{% if commentb.reponseto == comment.index_comments %}

<p class="message">Reponse:    {{ commentb.msgpostd | raw }}
<a href="discuter/repondre/{{ commentb.index_comments }}" >rep a ce msg</a> </p> 
     {% endif %} 
      {% endif %} 
{% endfor %}
 <hr/>
     {% endif %} 



{% endif %}

 {% endfor %}        
                    <hr/><a href="discuter/parler" >ajout topic</a>     
</div>

{% include  "AdetiBlogBundle:Blog:footer.html.twig" %}


